[2015-08-18 12:11] pavel-kirienko opened #53 "Future: Support for sparse matrices in the protocol"
At the moment, UAVCAN does not support sparse matrices at the protocol level, but rather delegates the issue to the user via [matrix packing recommendations](http://uavcan.org/Specification/5._Application_level_conventions.html#matrix-representation).

Native support for sparse matrices will remove the work of ensuring correct packing/unpacking from applications, which will likely have positive ef

[2018-07-09 09:16] pavel-kirienko opened #1 "Legal statement"
Currently, the legal statement says this, which is not exactly correct:

A better wording should be found. The objectives are the following:

* We want the spec and related docs to be free and open in the spirit of [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/) except that the "No additional restrictions" limitation should be lifted.
* The liability disclaimer should be there.

[2018-07-17 11:35] kjetilkjeka opened #2 "Protocol update effort (tracking issue)"
This is an attempt of gathering references to everything concerned by the new protocol. The list will be edited to be kept updated. To keep this issue helpfull instead of just becoming yet another place to discuss things, please keep specialized discussion in the relevant issue.

### Administriva

 - [x] Settle on how to do versioning and stabilization
     - https://github.com/UAVCAN/uavcan.githu

[2018-07-17 11:35] kjetilkjeka commented on #2
@pavel-kirienko feel free to add/edit stuff, or uncheck things if i were to quick to check them.

[2018-07-18 03:42] thirtytwobits opened #3 "Define and Utilize Domain-Specific Namespaces"
Domain-Specific Namespaces are sets of pre-defined messages/data-types for various types of Unmanned Autonomous Vehicles. To start with the standard should define the following DSNs:

- **core** – Domain-agnostic data types supporting standard functions.
- **aero** - Existing non-protocol data-types would live in this set.
- **marine** – data-types for autonomous boats or submarines.
- **space** –

[2018-07-18 03:48] thirtytwobits commented on #3
I added this issue so we can capture debate but the more I think about it the less I feel like this is a useful proposal. For example, what do we do about types that are general to several of the domains? For example: a camera gimbal is something all of the imagined vehicle types might support. Along those lines it seems more like the differences would be outliers.

Another example: air data is pr

[2018-07-18 05:38] thirtytwobits opened #4 "Proposed: New High-Level Definition of UAVCAN"
![image](https://user-images.githubusercontent.com/19180861/42913775-a5383324-8aab-11e8-8160-a40b36edee34.png)

Changes:

1. Core data types are distinct and required.
2. Standard data types (e.g. equipment) are distinct and optional.
3. Custom data types are first class members of the specification.
4. The interface between the serialization of data types and the transport layer is well-defined.

[2018-07-18 17:31] pavel-kirienko commented on #4
"Standard functions" in the context of the specification refers to the high-level features of the protocol. As such, this block should rest on top of "Core data types". Unless I'm misreading your proposal.

I am considering to decimate the set of standard data types from the `uavcan.equipment` namespace; right now it seems to be poorly organized and some of the definitions might be overly applicat

[2018-07-18 23:58] thirtytwobits commented on #4
Updated the diagram to put the Standard Functions above the Core data types

[2018-07-19 17:44] pavel-kirienko commented on #2
I marked the TAO entry as decided since the consensus seems to be in favor of its complete removal. Bye bye TAO.

[2018-07-19 17:48] pavel-kirienko opened #5 "Rigorous definition of semantic compatibility and bit compatibility"
So I was writing the new spec doc and got stuck at the semantic and binary compatibility part. I'm leaving the lab right now with the intention of getting back to this first thing in the morning. @kjetilkjeka if you happened to have good definitions at hand, please share here.

This is what I ended up drafting so far:

[code]

[2018-07-19 18:48] kjetilkjeka commented on #5
I think that compatibility is about the set of features being a subset/superset of some other set of features.

I think binary compatibility is the least difficult. Perhaps binary compatibility can be defined as something in the lines of the following.

We say that a definition (the compatible definition) is *binary backwards compatible* with another definition (the original defintion) if all the

[2018-07-21 13:06] kjetilkjeka commented on #5
Ok, so binary compatibility is only about serialization. That makes sense. My definition mixed in what applications can expect as well. My proposed constraints will implicitly enforce both the bit compatibility constraints and some other constraints. But it may still be valuable to have a clear split between them.

Your example is then indeed binary compatible. But if one attempted to update the d

[2018-07-22 21:43] pavel-kirienko opened #6 "Review of the chapters 1, 2, and 3"
Here comes an early draft for an early review. This PDF is compiled directly from the current master: [UAVCAN_Specification.pdf](https://github.com/UAVCAN/specification/files/2217431/UAVCAN_Specification.pdf)

I would like @kjetilkjeka and @thirtytwobits to have a critical look. I am going to review everything once again when the content is finished to fix the remaining styling and wording issues.

[2018-07-22 21:43] pavel-kirienko commented on #5
Closing for #6

[2018-07-22 21:43] #5 closed

[2018-07-23 20:15] pavel-kirienko commented on #6
Updated [UAVCAN_Specification.pdf](https://github.com/UAVCAN/specification/files/2220864/UAVCAN_Specification.pdf)

[2018-07-24 03:10] scottdarch commented on #6
[UAVCAN_Specification_thirtytwo.pdf](https://github.com/UAVCAN/specification/files/2221806/UAVCAN_Specification_thirtytwo.pdf)

Comments are in the document. Let me know if this review process works.

I stopped at chapter 3 because I didn't realize that the datatype identifiers for top-level types were optional and this has me really confused. How do you envision such a feature is used? If a type

[2018-07-25 17:31] pavel-kirienko commented on #6
@scottdarch let's move to https://github.com/UAVCAN/specification/pull/7

It does.

[2018-07-29 16:09] kjetilkjeka commented on #6
I'm sorry this took so long @pavel-kirienko I've been away the last week and will be away until Wednesday. I managed to write some comments from the last draft you linked. I will be able to review/discuss more on Thursday.

uavcan review:
- 1.2 is makes me belive that datatypes can be changed without incrementing minor version. It should be changed to make it clear that datatypes are immutable. Se

[2018-07-30 17:52] pavel-kirienko commented on #6
@kjetilkjeka Thanks! I didn't have a chance to act upon your feedback yet; I'm leaving until Thursday myself, will continue then. Meanwhile, I have finished porting the chapter 4 (CAN transport layer) to PDF; here it is attached (built from master):
[UAVCAN_Specification.pdf](https://github.com/UAVCAN/specification/files/2242298/UAVCAN_Specification.pdf)

The last sections of the CAN transport cha

[2018-08-02 20:41] kjetilkjeka commented on #6
First a general comment: I think it would be better to avoid introducing can before neccessary. I would even refrain from calling the section "CAN bus transport layer", instead i would call it "The transport layer". Then first every concept of the transport frame could be defined (this is basically 4.1+4.2+4.4 just use the word transport frame instead of CAN Frame). Then the CAN transport layer co

[2018-08-02 20:49] kjetilkjeka commented on #6
I have a couple of questions regarding the redundant interfaces.
 1. Do we have to require the users to let the first one time out before using the next one. Wouldn't an implementation where the interface where the message is received first on was used and then detection of a lost interface could be done even after the message was received on the "backup" interface.
 2. Do we need every node to us

[2018-08-02 20:50] kjetilkjeka opened #8 "Redundant interfaces"
@pavel-kirienko I have a couple of questions regarding the redundant interfaces.
 1. Do we have to require the users to let the first one time out before using the next one. Wouldn't an implementation where the interface where the message is received first on was used and then detection of a lost interface could be done even after the message was received on the "backup" interface.
 2. Do we need

[2018-08-02 23:27] kjetilkjeka commented on #3
I like this idea. What I like about it tis that it attempts to make uavcan more suitable for general robotics or even simply just more general use. We should do so without sacrificing any niceness when used in flying robots (multicopters, planes, etc).

Let me first try to put words on what i found difficult when attempting to use uavcan for other things than flying robots:
 - The support for cust

[2018-08-03 08:47] pavel-kirienko commented on #8
Dangerous. The transfer ID wraps around every 32 transfers. Different interfaces are expected to exhibit different latencies even on a properly functioning system, especially if the system shares redundantly-interfaced and non-redundantly-interfaced nodes. If the latency of a backup interface relative to the primary interface exceeds 32*`transfer_interval`, and we were to allow receiving nodes to

[2018-08-03 10:56] kjetilkjeka commented on #2
I think we've practically reached consensus on that the CRC should not include data type signatures or similar. Check off your ticky box if you agree to the conclusion and that the discussion has been left open long enough. Or edit and add another ticky box if you want to bring the attention to someone else.

 - [ ] @kjetilkjeka
 - [ ] @thirtytwobits
 - [ ] @pavel-kirienko

[2018-08-03 12:02] pavel-kirienko commented on #4
I suggest closing this as the relevant suggestions have already been incorporated into the current specification draft.

[2018-08-07 02:53] thirtytwobits commented on #3
Your "ground_vehicle" example exposes more of my concern about my own proposal: i.e. many airplanes have wheels :)

While I think there's room to cleanup the "equipment" namespace what's most important about this issue is the need for the specification and implementations to allow for a vehicle system to configure only the standard types it wants and easily support custom types. Given the limited

[2018-08-07 05:09] thirtytwobits commented on #6
[UAVCAN_Specification.pdf](https://github.com/UAVCAN/specification/files/2265040/UAVCAN_Specification.pdf)

Comments in doc.

[2018-08-07 05:12] thirtytwobits commented on #4
I still don't like your diagram Pavel ;-) Can we keep this open until we finish debating the proposal I put in my latest specification review around three classes for data types; required, optional, and standard?

[2018-08-09 15:15] kjetilkjeka opened #9 "DSDL compatibility analysis"
I've open this issue to discuss how changes to data types should be handled. This issue is a follow up on https://github.com/UAVCAN/dsdl/issues/35, https://github.com/UAVCAN/specification/issues/5 and https://github.com/UAVCAN/specification/issues/6 but tries to isolate the compatibility discussion without blending it together with other review related items.

I will attempt to keep the text under

[2018-08-09 15:28] kjetilkjeka commented on #9
@pavel-kirienko i think the most important question is the code compatibility. You seem to opting out of it completely when writing the specification. We should discuss the value of being able to do invasive changes within one major version vs stability in code when using the same major version.

Even though I've described the most conservative approach there exists middle grounds. For instance no

[2018-08-09 15:35] pavel-kirienko commented on #9
I have added a `@deprecated` keyword to the current draft a couple of weeks ago; it's supposed to be translated into language-specific deprecation markers, e.g. `[[deprecated]]` in C++ or `DeprecationWarning` in Python.

I think this is a bad idea. The specification should only care about bit compatibility and semantic compatibility; adding more guarantees undermines the extensibility of the stand

[2018-08-09 15:54] kjetilkjeka commented on #9
Let's address this concern before moving on to the bigger concerns.

That's nice. I was playing around with a similar idea myself. What i was thinking about was adding
`@lifecycle <pre-release|released|deprecated|removed>`, this way we can add a new type without releasing it, yank a buggy type and deprecate old types. This is how i vision it would work.

 - **Pre-realease** - do not generate code

[2018-08-09 17:01] pavel-kirienko commented on #9
I like the flexibility argument, but I have two questions:

1. What's the point of the `removed` option if the definition can be just physically removed to the same effect?
2. `pre-release` goes against the versioning guarantees that once something is published it can't be removed or changed without a proper deprecation process. If you want tentative volatile definitions, use version 0. I think we

[2018-08-09 18:16] kjetilkjeka opened #10 "Deprecation of DSDL definitions"
Split out the deprecation discussion into this thread (why do we always seem to wander off topic)

The state of the discussion when split up

Pavel:

Kjetil:

`@lifecycle <pre-release|released|deprecated|removed>`, this way we can add a new type without releasing it, yank a buggy type and deprecate old types. This is how i vision it would work.

Pavel:

[2018-08-09 18:17] kjetilkjeka commented on #9
I split the deprecation issue out to: #10 for making the issues easier to follow from the outisde

[2018-08-09 18:39] kjetilkjeka commented on #9
The main idea was to give information about potential DTID/name/path conflicts for future definitions. We should probably at least keep this element out of the mix until we can see what the dsdl checker ends up doing in a bit more detail.

Well my intention was to not consider it "published" before it reached `released`. The `pre-release` was meant as a way for early testers to evaluate 2.0 defini

[2018-08-09 19:57] kjetilkjeka commented on #10
The main idea was to give information about potential DTID/name/path conflicts for future definitions while failing users of the definition to compile. We should probably at least keep this element out of the mix until we can see what the dsdl checker ends up doing in a bit more detail.

Well my intention was to not consider it "published" before it reached `released`. The `pre-release` was meant

[2018-08-09 21:37] kjetilkjeka commented on #9
Isn't the problem here essentially that a "valid encoding" and a "valid decoding" is two seperate things, and therefore defining a single "valid encoded representation" term is impossible (or at least needs to be the most liberal of these). I think if we change the definition to:

#### Bit compatibility
A structure definition `A` is *bit-compatible* with a structure definition `B` if both the foll

[2018-08-10 08:11] pavel-kirienko commented on #9
So my approach was different - I was attempting to avoid defining the decoding function completely, expressing the relations in terms of the encoding function only: A is compatible with B if the set of all possible encoded representations of A is a superset of all possible encoded representations of B. However, void fields were giving me trouble, because they are by definition to be encoded as zer

[2018-08-10 08:52] pavel-kirienko commented on #9
Wait no, loss of information may occur at `d_A(e_B(b))` and `d_B(e_A(b))` - fields that are present in one definition may be missing in the other, so your last equation does not hold.

[2018-08-10 12:02] kjetilkjeka commented on #9
Since the definition is concerned with *`A` being bit compatible with `B`* loss of information may occur when going from `A` to `B` (since a void field may have been populated) but not the other way around.

First observe that `d_X(e_X(a)) = a` always holds (this is the identity function on the set `X`). But `e_ X(d_X(s)) = s` only holds when `s` is an element in the range of `e_X`

If we first de

[2018-08-10 21:01] pavel-kirienko commented on #6
Closing once again, let's discuss things at #11.

[2018-08-10 21:01] #6 closed

[2018-08-11 16:06] pavel-kirienko commented on #2
I think the discussion is leaning towards using the toggle bit for that. I took the liberty to reflect that in the draft (sec 4.2.3.2), believing that that was the consensus:

[2018-08-13 17:00] pavel-kirienko commented on #10
I would like to propose a general principle we should follow: one should get a full understanding of the current DSDL set just by looking at the list of files in the DSDL namespace directory, without having to look inside the files. That would rule out things like `@lifecycle removed` and `@lifecycle pre-release`.

Specifically, I don't think that `@lifecycle removed` is necessary because by the t

[2018-08-13 18:45] pavel-kirienko commented on #9
That seems overly strict. One can imagine a use case where a new void field would need to be introduced, e.g. if a non-void field became deprecated or split into several smaller fields. I suggest staying generic; perhaps we should move this conversation back to https://github.com/UAVCAN/specification/pull/11 where I have proposed a very minimalistic formulation.

[2018-08-14 21:28] kjetilkjeka commented on #2
Yes you're absolutely right. Thanks for pointing this out, I've updated the overview now.

[2018-08-14 21:32] pavel-kirienko commented on #10
Looks like have a *consensus* here <img src="http://cultofthepartyparrot.com/parrots/hd/parrot.gif" width=32>

I am curious what's your take on this:

[2018-08-16 19:30] pavel-kirienko opened #13 "Fixed-point scalar types"
@jschall once proposed to add those to the set of native DSDL types:

To which I said:

This issue is to attract relevant discussion and feedback.

In this thread over there there was also a related discussion on how to represent the elements of rotation quaternions in the most efficient and usable way; fixed-point types could be applied there greatly: https://github.com/UAVCAN/dsdl/issues/34

[2018-08-18 13:12] pavel-kirienko opened #14 "Continuous integration"
We need to set up a CI to automatically build the spec doc and upload the resulting PDF somewhere. Ideally, for pull requests, the resulting PDF should be attached to a comment after every build. Travis supposedly can be configured to do that, see https://damien.pobel.fr/post/github-api-from-travisci/. Although I'm not sure if it's possible to upload an attachment using that API.

Would somebody l

[2018-08-19 18:00] kjetilkjeka commented on #14
Pavel, would it be possible to create a mail forward rule from spec-buildbot@uavcan.org (or similar) to my e-mail and other e-mail addresses you think is appropriate? Then I will register a new gh account with this e-mail.

[2018-08-19 18:07] pavel-kirienko commented on #14
Yes, it should be trivial, I'm going to have a look probably tomorrow or the day after.

[2018-08-20 19:10] pavel-kirienko commented on #14
Okay, you should have received an invitation to join a collaborative inbox. All mail sent to any address `@uavcan.org` will end up there. I suggest using the same address `maintainers@uavcan.org` everywhere for ease of maintenance.

[2018-08-21 07:56] kjetilkjeka commented on #10
I don't think this is a good idea. It goes against what users will expect when it comes to versioning.

[2018-08-21 09:46] kjetilkjeka commented on #9
I think we need to talk about the concrete things we expect to have from compatibility data types and their concrete value:

## Problems

### Populating void fields
I think populating void fields is the prime example of what we're 100% sure that we want and doesn't cost us anything. The constraint is that newly populated fields must always be considered as an "optional" with a None variant of the

[2018-08-21 09:48] kjetilkjeka commented on #9
What is the point of deprecating non-void fields? We cannot repopulate it in a sound way.

If every field can be removed you do not have much guarantee as a user of a data type either. We should not be able to remove features (anything) and still call something compatible.

[2018-08-21 17:02] pavel-kirienko opened #16 "Review chapters 1, 2, 3, 4, 6"
The spec draft is ready except for the chapter 5 (Application layer). The work on the application layer is blocked by the lack of the new standard data type set, so that seems to be the next thing to do.

The document has been restructured rather considerably compared to the v0 spec published on the website. The new structure provides dedicated chapters for the transport layer, the application lay

[2018-08-21 17:05] pavel-kirienko commented on #1
@thirtytwobits Can your [*OSS guru*](https://github.com/UAVCAN/pyuavcan/pull/38#issuecomment-406670151) be of any help here?

[2018-08-21 18:03] kjetilkjeka opened #17 "Improve figure of CAN ID structure"
Make it more readable (closer to what was on the website) while only using code.

[2018-08-21 18:04] kjetilkjeka commented on #17
I will have a look at this eventually.

[2018-08-21 18:05] kjetilkjeka commented on #16
This is a pretty big issue and I'm probably going to "proofread" and bring up concerns a bit spordically. Since this is a big issue we should probably let this branch out into different issue. On top of my head right now i have:
- We should discuss "3.6 Data type compatibility and versioning" some more in #9
- Improve the readability of the CAN ID structure #17

[2018-08-21 18:07] kjetilkjeka commented on #14
I'm not sure if it's a good idea as we might get a few more gh logins in the future and they all need a unique e-mail address.

[2018-08-26 11:32] pavel-kirienko commented on #10
Okay. Do we consider this one resolved?

- [ ] @pavel-kirienko
- [ ] @kjetilkjeka
- [ ] @thirtytwobits

[2018-08-27 13:13] pavel-kirienko commented on #9
I think it is important to ensure that our reasoning here is guided by the top-level design objectives and not by one's vision on how to implement the best diagnostic tools. ;)

It is crucial to ensure that we have all possible tools at our disposal when it comes to the ability to advance data type definitions while not breaking backward compatiblity with existing nodes, because updating fielded n

[2018-08-28 15:56] kjetilkjeka commented on #13
It would also be possible (and quite low effort) to do some experimentation with this without protocol support if we created DSDL definitions similar to the following

[code]

If it was found out that having these as native types would improve things a lot we could then upgrade them to first class citizens of dsdl and deprecate the experimentation types. This would leave the problem of using the f

[2018-08-31 05:32] thirtytwobits commented on #1
Unfortunately not. Sorry. I reached out but nobody had advice on this beyond pointing out that AWS uses CC-BY-SA-4.0 on their github documentation. Not sure if that's helpful here.

Perhaps we should sniff around other open standards and see what they have. Here's my quick search:

https://xmpp.org/extensions/xep-0009.html#appendix-legal
https://www.xiph.org/ogg/doc/rfc3533.txt
https://www.w3.org/

[2018-08-31 06:02] thirtytwobits commented on #16
I have started an in-depth review of this version. I'll post a PDF with my notes when I complete it. This could take awhile.

[2018-08-31 07:02] pavel-kirienko commented on #16
I'm beginning to think that the PDF-based approach is not quite the best option after all. Perhaps you could open new issues for every proposed change instead? For simple no-brainer changes, submitting PR's directly is the best approach. Especially with the new Kjetil's build bot.

[2018-08-31 17:18] thirtytwobits commented on #16
FYI: the "DRAFT" watermark makes it really difficult to comment on some text because it's selectable. Is there anyway to make it non-selectable? If not can we just make this a header and/or footer?

[2018-09-06 04:06] thirtytwobits commented on #16
Okay. I'll start converting the notes I've been taking in the PDF to either issues or PRs.

[2018-09-06 04:13] thirtytwobits opened #20 "Migration guide from v0 to v1.0"
To help system architects that are evaluating a change from v0 to v1 of the protocol we should provide a section of the document that details the differences and describes strategies for migrating existing components.

[2018-09-10 09:35] pavel-kirienko commented on #16
I apologize for being out of touch the past several days - had other stuff happening at work and then suddenly got flu. I am back now, slowly working through the unanswered mail.

[2018-09-11 04:01] thirtytwobits opened #22 "Add a paragraph on standard application capabilities to the introduction"
Once we have the application parts of the specification completed be sure to add a paragraph on the high-level capabilities this part of the specification provides to section 1.2.

[2018-09-11 04:16] thirtytwobits commented on #16
Sorry to hear. Hope you are feeling better!

[2018-09-13 09:54] #1 closed

[2018-09-19 13:01] #4 closed

[2018-09-23 18:25] pavel-kirienko opened #25 "Migration strategy from v0 to v1"
While the two versions of the protocol can co-exist successfully on the same bus (thanks to the Toggle bit measures we've taken), supporting both versions in the same implementation concurrently can be challenging, especially after our big redesign of the standard data type definitions has landed (it's not even proposed yet, working on that).

With that in mind, I would like to revisit the questio

[2018-09-24 12:34] kjetilkjeka commented on #25
I think the practical choice is to only support v1 and ignore v0 frames in uavcan.rs. If anyone wants to discuss this further we can open an issue in the uavcan.rs repo.

[2018-09-24 13:16] kjetilkjeka commented on #14
After some exploration of alternatives, I've come up with a new plan.

Gitlab CI/CD is great, I'm currently using it for a couple of personal projects. The most important improvement from Travis is the "build artifact" system that is essentially what we want.

I've tested out Gitlab CI for Github, it's not perfect, but it works better than travis would for this specific use case. I propose that we

[2018-09-24 14:35] pavel-kirienko commented on #14
Great.

No objections.

Please go ahead.

[2018-09-24 14:40] pavel-kirienko commented on #25
I think this is perfectly reasonable for uavcan.rs.

Seeing as 100% of participants so far are in favor of the second option, I suggest to tentatively choose that unless objections are raised in the coming weeks. Keeping this open for now.

[2018-09-24 19:14] kjetilkjeka commented on #14
@pavel-kirienko @thirtytwobits let me know if you have any problems with this.

[2018-09-24 19:14] #14 closed

[2018-09-25 04:49] thirtytwobits commented on #25
I agree that libuavcan should support v1 going forward. V0 support could be provided only on a branch where we could accept critical patches but with no ongoing development.

pyuavcan might be a different story, however. If there is anything that may have value in supporting both it would be in the thing that tools are built on top of. The ability to analyse a bus with both versions running across

[2018-09-25 15:29] mjs513 commented on #25
There are a couple of questions that I have regarding v1, with out reading the spec, these are just generic questions:
1.  As a user of v0 will you all be putting together sort of migrating instructions going from v0 to v1?
2.  Will the UAVcan website be updated to v1 with appropriate examples?

[2018-09-29 12:58] pavel-kirienko commented on #25
1. I think for end-users the migration process should be documented at the level of implementation. For example, I think we are going to put one together for Libuavcan.
2. The sensor example will probably have to go unless somebody would volunteer to bring it up to date with v1.0 and also to use CAN FD instead of CAN 2.0. I don't really think it's useful anymore because now we have libcanard.

[2018-10-02 10:34] pavel-kirienko opened #28 "Move examples into an annex or a separate chapter."
Paging @thirtytwobits

[2018-10-02 21:32] mjs513 commented on #25
Apologize for getting back to you sooner on your response.

Think this is a great idea for end-users especially for libuavcan.

I would volunteer to update the sensor example unfortunately I am using the Arduino/Teensyduino environment.  But I could give it a try at least for CAN 2.0.  Unfortunately I don't have any Hardware for CAN-FD to test it on.

Thanks
Mike

[2018-10-04 16:54] mjs513 commented on #25
Never used a STM product before so I would have a little bit of learning curve on what I need to compile and test.  Don't mind that one.  Always used Arduino or Teensy boards before. Anyway besides the Kvaser USB CAN Adapter you might want to consider the MCP2542 chip so you can connect right to the development board:  https://www.digikey.com/products/en/development-boards-kits-programmers/evaluat

[2018-10-04 18:53] #8 closed

[2018-10-05 21:01] pavel-kirienko commented on #25
@mjs513 the thread is up https://forum.uavcan.org/t/virtual-plug-fest-looking-for-testers/171

Please let me know what hardware do you need and what is your shipping address. You can either email me at pavel.kirienko@zubax.com or DM on the forum (the latter is better, good chance to check that the forum is functioning properly). Thanks!

[2018-10-05 21:09] pavel-kirienko opened #29 "Application-level functions: sensor timestamping"
About a year ago there was [a thread on the ArduPilot forum](https://discuss.ardupilot.org/t/uavcan-gps-get-lag/16922/14?u=pavel_kirienko) about sensor lags and related issues. From that thread I learned that certain concepts need to be spelled out in the specification:

* How timestamping should be used instead of sensor lag estimates.
* How sensor feed timestamping should take into account the o

[2018-10-05 21:13] pavel-kirienko opened #30 "Application-level functions: node status reporting while in the bootloader"
While in the bootloader, always use the mode `SOFTWARE_UPDATE`, unless the bootloader is about to launch the application, in which case `INITIALIZATION` is also acceptable. Usage of the `OPERATIONAL` mode should be discouraged because it is reserved to indicate that the node is in a normal working state. Kocherga can be shown as an example: https://github.com/Zubax/kocherga#uavcan

[2018-10-08 15:31] kjetilkjeka commented on #17
Fixed by #31

[2018-10-08 15:31] #17 closed

[2018-11-11 00:57] pavel-kirienko commented on #16
I believe this is no longer relevant, closing. Please re-open if I am mistaken.

[2018-11-11 00:57] #16 closed

[2018-11-16 17:20] pavel-kirienko commented on #3
Closing as this question has lost relevance

[2018-11-16 17:20] #3 closed

[2018-11-16 17:23] pavel-kirienko opened #34 "Replace "message broadcasting" with "message publication""
We need to replace "message broadcasting" with "message publication", because "broadcasting" does not suit the purpose well; after all, we are not addressing all existing nodes in the network; rather, we are allowing nodes to opt-in into receiving our data.

I already changed this in all chapters of the specification except the DSDL chapter, which is currently being edited by @kjetilkjeka.

[2018-11-17 11:18] kjetilkjeka commented on #34
Yes, i will fix this in the DSDL chapter

[2018-11-18 16:04] pavel-kirienko opened #35 "Backport the LaTeX style fixes from zubaxdoc.cls"
This is what the spec should be formatted like when built correctly:

![image](https://user-images.githubusercontent.com/3298404/48675035-2419f680-eb5c-11e8-8dcc-3174cf6cef18.png)

This is what I'm getting after downloading build artifacts from GitLab:

![image](https://user-images.githubusercontent.com/3298404/48675045-46ac0f80-eb5c-11e8-91cd-028cc5b9ea16.png)

Section headers are offset from the

[2018-11-18 16:06] pavel-kirienko commented on #35
My environment is Linux Mint 18 Sarah with `texlive-full` and `lyx`

[2018-11-30 20:04] pavel-kirienko commented on #35
@kjetilkjeka seems like the CI is using a newer version of texlive. Perhaps we should just downgrade it to the version specified above, as a temporary solution?

[2018-12-05 14:33] pavel-kirienko opened #37 "Clarifications regarding fixed port ID"
https://github.com/UAVCAN/specification/pull/32#discussion_r238888626

[2018-12-11 08:52] #10 closed

[2018-12-11 08:55] pavel-kirienko commented on #9
I am closing this as the discussion seems to have migrated to the forum completely:

- https://forum.uavcan.org/t/the-case-for-code-compatibility/194/
- https://forum.uavcan.org/t/simpler-and-better-dsdl-versioning/280/

[2018-12-11 08:55] #9 closed

[2018-12-11 08:57] pavel-kirienko commented on #2
Marked the following as resolved:

- Settle on how the protocol version should be conveyed over the wire
- Figure out how we handle deprecations of definitions.
- Figure out if we should do anything to namespacing of dsdl

[2018-12-12 19:32] #28 closed

[2018-12-12 19:39] #25 closed

[2018-12-12 19:43] pavel-kirienko commented on #20
As discussed at the call today, this should be a separate piece of documentation rather than a section in the specification. The main motivation for this separation is the expectation that this information will become obsolete very quickly, making it pointless to keep in the main specification document the life cycle of which is much longer.

I think it should be okay to describe the changes in a

[2018-12-12 19:47] pavel-kirienko commented on #35
If there is anyone experienced with LaTeX, we could use a hand.

[2018-12-14 11:20] pavel-kirienko commented on #2
All important things have been settled upon and resolved, so I am closing this. For future reference, many important decisions have been discussed there: https://forum.uavcan.org/c/dev

[2018-12-14 11:20] #2 closed

[2018-12-14 11:22] pavel-kirienko commented on #37
I think it's not actually important so I am closing this. If anyone, particularly Scott, would like to fix this, please submit PR.

[2018-12-14 11:22] #37 closed

[2018-12-14 11:33] pavel-kirienko opened #41 "Final proofreading - grammar, formatting, readability"
@hamishwillee @mrpollo we are optimistically aiming to finalize the draft next week. What are our chances of getting assistance from Dronecode to get the document proofread and corrected?

[2018-12-14 11:35] pavel-kirienko opened #42 "Specification update effort (tracking issue)"
- [x] Finalize the DSDL chapter (№3). Relevant context: https://forum.uavcan.org/t/new-dsdl-directive-for-simple-compile-time-checks/190/ and https://forum.uavcan.org/t/data-type-compatibility-assurance/196/. Also, see https://github.com/UAVCAN/specification/pull/33
- [x] Finalize the Application layer chapter (№5). See #29, #30, #22 .
- [x] Add a chapter listing definitions of all standard data t

[2018-12-17 03:14] hamishwillee commented on #41
Hi @pavel-kirienko ,

FYI I no longer directly work for Dronecode, but my management DIUx and Auterion are highly supportive of standards and protocol specification. So I can spend a couple of days on this.
A few points:
1. I find it challenging to do technical editing of specs in one go. If there are any bits of the spec that are known "good to go" then great if you could drip-feed to me.
2. Xmas

[2018-12-17 09:18] pavel-kirienko commented on #41
Okay, thanks, Hamish.

Right now I think nothing is good to go yet because after the missing chapters are finished (see https://github.com/UAVCAN/specification/issues/42) we will go over the doc again and possibly restructure stuff; proofreading probably can't be done until that is finished.

I should post here when we can start proofreading.

[2018-12-17 09:44] pavel-kirienko opened #43 "The "minted" environment breaks page rules"
Wherever the `minted` environment spans across a page break, the bottom page rule gets mangled. On the following screenshot this can be seen on the right side page, where the `minted` block is carried over to the next page (not shown):

![image](https://user-images.githubusercontent.com/3298404/50078867-c1665a00-01f0-11e9-8a62-1b029d451850.png)

[2018-12-17 23:03] hamishwillee commented on #41
OK, please do. I'll do my best to review it in a timely manner once it is posted.

[2018-12-26 16:03] pavel-kirienko commented on #30
Fixed in https://github.com/UAVCAN/dsdl/pull/61

[2018-12-26 16:03] #30 closed

[2019-01-10 19:13] #29 closed

[2019-04-08 19:54] pavel-kirienko opened #47 "Set up chktex"
The LaTeX Workshop extension for VSCode supports chktex natively, and we should also run it in the CI.

[2019-04-16 17:23] thirtytwobits opened #49 "Add section numbers to pdf bookmarks"
It'd be helpful to have the section numbers in the index. As the below image shows, it's not easy to do something like "go to section 3" without them:

![Screen Shot 2019-04-16 at 10 21 48 AM](https://user-images.githubusercontent.com/19180861/56230595-7ab72e00-6031-11e9-9401-008218293399.png)

[2019-05-08 19:56] pavel-kirienko commented on #34
Fixed in #46.

[2019-05-08 19:56] #34 closed

[2019-07-02 00:53] pavel-kirienko opened #51 "DSDL string type"
We will need native support for strings in UAVCAN v1.1 or later to avoid ambiguity like:

[code]

[2019-07-02 00:55] pavel-kirienko opened #52 "DSDL enumeration type"
In UAVCAN v1.1 or later we will need native support for enumeration types to improve type safety. This could be implemented through an additional directive like (this is not a formal proposal):

[code]

[2019-07-02 19:43] pavel-kirienko commented on #53
Closing due to apparent lack of interest.

[2019-07-02 19:43] #53 closed

[2019-08-01 21:28] pavel-kirienko opened #54 "Replace "must" with "shall""
https://forum.uavcan.org/t/unique-id-for-node-id-acquisition/556?u=pavel.kirienko

[2019-08-22 22:12] MadRC commented on #20
Was this ever done in a forum post ? I’m trying to understand the main reasons for the changes and hardware implications.

[2019-08-22 23:06] pavel-kirienko commented on #20
This is not yet done on the object level. From your question I suspect that you are interested in a higher-level overview; for that please proceed here: https://forum.uavcan.org/t/uavcan-a-highly-dependable-publish-subscribe-protocol-for-real-time-intravehicular-networking/557

No hardware implications for vendors. The transition from v1 to v0 can be done by updating the software only.

[2019-09-07 16:04] pavel-kirienko commented on #51
I propose a specialization of `uint8` for strings named **`utf8`**. While equivalent to `uint8` serialization-wise, the new type hints code generators that the field in question is not an array of numbers but rather is a UTF-8 encoded text string.

Likewise, a new scalar alias `byte` should be defined to indicate that the field is neither a text string nor an array of integers, but an unstructured

[2019-11-08 12:25] pavel-kirienko opened #59 "Allow different data types under the same port-ID as long as they are semantically compatible and mutually bit-compatible"
Consider replacing this in section 3.8.3.3:

Allow data types to be different as long as they are semantically compatible and mutually bit-compatible. See the rationale here https://forum.uavcan.org/t/uavcan-v1-0-and-ardupilot/671/8?u=pavel.kirienko:

![image](https://user-images.githubusercontent.com/3298404/68476510-823f5e00-0233-11ea-9df2-084c5a458e4d.png)

[2019-11-11 21:12] pavel-kirienko opened #60 "Formal mechanism for migrating a message definition between namespaces (renaming)"
Context: https://forum.uavcan.org/t/uavcan-v1-0-and-ardupilot/671

This issue is the result of the above exchange. We need to mention in the specification that it's legal to rename a data type, including its relocation into a different namespace. Right now it's semi-illegal.

Note to our future selves: this change invalidates the proposal for the data type hash that I introduced here: https://foru

[2019-11-11 21:21] pavel-kirienko opened #61 "Data type extensibility"
Thanks to the explicit syntax-semantics separation, type extensibility is less important for UAVCAN v1 than it is for some other protocols, such as v0 or MAVLink. However, it does not mean that it is not a major enabler for the long-term stability of the ecosystem.

We should explore the possible approaches to this problem and consider implementing one in a future minor revision of the protocol af

[2019-11-11 21:23] pavel-kirienko commented on #22
Is this already addressed by section **1.3 Capabilities**?

[2019-11-15 13:47] pavel-kirienko opened #63 "v0/v1 coexistence"
Consider modifying the CAN ID format to permit coexistence of v0/v1 on the same bus: https://forum.uavcan.org/t/uavcan-v1-0-and-ardupilot/671/22?u=pavel.kirienko

[2019-11-19 05:31] pavel-kirienko opened #65 "Review the data type compatibility rules"
Semantic compatibility is hard to determine automatically. Consider replacing semantic compatibility with a stricter alternative similar to polymorphic compatibility. This will make type punning impossible.

[2019-12-02 21:54] thirtytwobits commented on #22
I think I'd like to see a feature list of "built-in features" like pnp, register, file transfer, diagnostics, etc. This will help when comparing feature bullet points between protocols.

[2019-12-22 01:06] pavel-kirienko opened #66 "Rework the Data Type Hash to accommodate polymorphic types"
See https://github.com/UAVCAN/specification/issues/60

Under the definition provided in "[Alternative Transport Protocols](https://forum.uavcan.org/t/alternative-transport-protocols/324)", data type hash makes the network too rigid and incompatible with polymorphic types. I have [removed](https://github.com/UAVCAN/pyuavcan/commit/009bfeadd51f771d68a1a1daa9a3ba2008241d28) this experimental implemen

[2019-12-24 23:48] #59 closed

[2019-12-24 23:48] #60 closed

[2019-12-24 23:48] #63 closed

[2020-01-07 08:31] pavel-kirienko opened #67 "Mark top-level data types"
As mentioned in the [post about meta-transport](https://forum.uavcan.org/t/on-can-adapters-and-stateless-interfaces/613), highly hierarchical definitions are hard to view because the representation of namespace members is inherently flat which does not reflect the data structure.

Fixed port-IDs make top-level types very salient. It is also natural since a nested type does not need to have a fixed

[2020-01-21 04:10] #22 closed

[2020-01-21 04:10] #41 closed

[2020-01-21 04:10] #54 closed

[2020-01-21 04:10] #61 closed

[2020-01-21 04:10] #65 closed

[2020-01-22 07:06] #42 closed

[2020-02-26 16:58] pavel-kirienko opened #70 "Switch the bit order"
Context: https://forum.uavcan.org/t/big-endian-vs-little-endian-in-the-context-of-bit-level-encoding/428/14?u=pavel.kirienko

Affected sections:

3.7.1.2 Bit and byte ordering
3.7.3.1 General principles
3.7.5 Composite types
3.8.3.4 Data type version selection (the bit flags in the example should be ordered the other way)
4.2.3 Examples

[2020-02-29 07:33] thirtytwobits opened #72 "Setup CI"
use our new texer container to build in Buildkite with PR validation builds.

[2020-02-29 07:37] thirtytwobits opened #73 "Autopublish"
Use gh-pages to automatically publish the specification after a build. See https://github.com/UAVCAN/libuavcan/blob/uavcan-v1.0/test/ci/postbuild-upload-docs.sh for an example.

[2020-03-05 15:36] pavel-kirienko commented on #66
The viability of moving the data type hash from the frame header into the payload segment (that is, changing the layout so that the data type hash is not carried with each frame but only once per transfer) should be assessed. Pros: less overhead. Cons: reduced context per frame complicates diagnostics (esp. postmortem) and makes acceptance filtering by data type impossible.

[2020-03-06 17:05] pavel-kirienko opened #75 "Make implicit prefixes standard size"
Context: https://forum.uavcan.org/t/proposed-change-to-variable-length-arrays/740

Affected sections of the Specification:

- 3.4.4.4 Type polymorphism and equivalency
- 3.5.3.1 Offset attribute
- 3.7.4.2 Variable-length array type
- 3.7.5.1 Tagged unions

Changes: the bit length of the implicit field shall be rounded up to the smallest of 8, 16, 32, 64.

A new directive reversing this behavior ma

[2020-03-11 22:17] pavel-kirienko commented on #20
I expect this post should address it: https://forum.uavcan.org/t/uavcan-v1-crash-course/778

@MadRC if you could give it a look and perhaps provide feedback that would be awesome.

[2020-03-12 03:40] #20 closed

[2020-05-12 15:09] pavel-kirienko opened #78 "Transfer-ID timeout auto-tuning"
Consider mentioning in the Specification that the transfer-ID timeout can be auto-detected based on the incoming messaging frequency.

https://forum.uavcan.org/t/alternative-transport-protocols/324/19?u=pavel.kirienko

This change does not require modifying any of the existing specified behavior; rather, it's an implementation advice. Corner cases have to be analyzed first.

[2020-05-15 15:37] PetervdPerk-NXP opened #79 "CAN ID bit layout Figure 4.3"
Figure 4.3 Shows the CAN ID bit layout.

There's is a typo in the first table table stating "Service, not message" whereas it's a Message, thus it should note "Message, not service"

[2020-05-15 17:01] pavel-kirienko commented on #79
This is the logic:

Bit | State
--|--
0 | Message
1 | Service

So the diagram is correct.

[2020-05-15 17:01] #79 closed

[2020-05-21 11:17] pavel-kirienko opened #80 "Allow multidimensional arrays"
Multidimensional arrays are currently prohibited. They were avoided mostly due to the issues with byte alignment in variable-length arrays where the width of the length prefix is not a multiple of 8 bits. Since in UAVCAN v1 we require that implicit fields be always standard-size (8/16/32/64), it is now possible to allow multidimensional arrays without sacrificing data alignment.

One issue that ha

[2020-05-21 11:53] pavel-kirienko commented on #66
Interesting industry examples (find an overview in my recent post on [Data type extensibility and composition](https://forum.uavcan.org/t/data-type-extensibility-and-composition/827/7?u=pavel.kirienko):

1. DDS defines rigorous type compatibility and extensibility model. While extensive, their model has the disadvantage of being complex (undesirable for UAVCAN, where U stands for *uncomplicated*)

[2020-05-23 19:01] pavel-kirienko opened #81 "UAVCAN/CAN PHY: Mention the recommended impedance"
See for context: https://forum.uavcan.org/t/on-can-cable-impedance-and-rj45-connectors/845

[2020-06-03 18:00] pavel-kirienko opened #83 "Provide a blue box explaining when it is appropriate to use fixed port-IDs"

[2020-06-03 18:13] TSC21 commented on #83
@pavel-kirienko can you provide an ETA for this? This matter is of high urgency and it's a really sensible matter for the Drone SIG. Thanks!

[2020-06-12 14:44] #35 closed

[2020-06-12 14:46] pavel-kirienko commented on #43
Fixed by #85.

[2020-06-12 14:46] #43 closed

[2020-06-12 14:47] pavel-kirienko commented on #73
Publish where?

[2020-06-17 17:30] thirtytwobits opened #86 "Generate and publish HTML version of the specification"
The PDF is great but you can't provide links into it. We should also generate an HTML/web version from the same tex and publish to the uavcan.org domain.

[2020-06-18 02:35] thirtytwobits commented on #73
exactly!

[2020-07-12 15:04] pavel-kirienko commented on #83
Addressed in [**The UAVCAN Guide**](uavcan.org/guide/) :book: :mortar_board:

[2020-07-12 15:05] #83 closed

[2020-07-13 21:36] pavel-kirienko commented on #72
@clyde-johnston can you please look into this?

@thirtytwobits why Buildkite, why not GitHub Actions?

[2020-07-13 21:39] TSC21 commented on #72
I would go for actions. Quite easy to setup and use.

[2020-07-13 21:42] pavel-kirienko commented on #86
FWIW page anchors seem to work, although I'm not sure if it's a standard feature:

https://helpx.adobe.com/acrobat/kb/link-html-pdf-page-acrobat.html

This link works for me in Firefox, opening the page 55: https://uavcan.org/specification/UAVCAN_Specification_v1.0-alpha.pdf#page=55. Does it work for you?

@hamishwillee Hamish, do you think we could realistically ask Auterion to kindly help us get

[2020-07-13 21:43] thirtytwobits commented on #72
Or Travis? It'd be nice to not have so many different CI solutions. Can we keep it at two? Can we move our Travis builds to actions?

[2020-07-13 21:45] pavel-kirienko commented on #72
Someday, sure, but we already use GitHub Actions for website deployment.

[2020-07-13 21:45] #70 closed

[2020-07-13 21:45] #75 closed

[2020-07-13 21:48] thirtytwobits commented on #86
It seems to work in Chrome. Nice.

[2020-07-13 21:54] pavel-kirienko opened #90 "Delimited serialization"
https://forum.uavcan.org/t/data-type-extensibility-and-composition/827/13?u=pavel.kirienko

[2020-07-13 22:54] hamishwillee commented on #86
@pavel-kirienko Maybe. I'll send you a message offline.

[2020-07-14 06:21] clyde-johnston commented on #72
What event should trigger the build? Any push? Any push to master? Any push to the specification directory?

[2020-07-14 10:27] pavel-kirienko commented on #72
Any push.

On Tue, Jul 14, 2020, 09:21 clyde-johnston <notifications@github.com> wrote:

[2020-07-14 15:10] thirtytwobits commented on #72
any push to master, right @pavel-kirienko ?

[2020-07-14 15:14] pavel-kirienko commented on #72
Why? Let it be any push to any branch.

[2020-07-14 17:52] thirtytwobits commented on #72
consistency. Having a single branch that can publish the spec from means there's no risk of another branch being created that publishes different versions. This would create a condition where the last branch to accept a change would be the one that the public-specification was published from. That seems dangerous.

[2020-07-14 21:38] clyde-johnston commented on #72
This should not be a problem as each artifact is associated with its respective commit ID. Presumably the artifacts associated with commits in the master branch will be canonical. You would need to switch branches to download a more recent artifact in another branch. When the pull request for this branch has been approved and merged, a new artifact will be built from the new commit in the master b

[2020-07-15 08:19] pavel-kirienko commented on #72
Automatic builds and automatic publications are two different things.

The doc should be always built and stored somewhere temporarily regardless of the current branch. If the branch is master, the doc should also be published *somewhere* so that it can be redirected to from `uavcan.org/specification`. Do we have any ideas on how to implement that?

Currently, I update the published doc manually b

[2020-07-15 10:24] clyde-johnston commented on #72
The normal method is to deploy the artifact (i.e. publish the document) to the web server once the build is complete. This can be done directly from the specification repository without copying the PDF to the uavcan.org repository.

If you want the specification to be part of the web source, you might want to consider making the specification repo a submodule of the uavcan.org repo. The limitation

[2020-07-22 01:52] thirtytwobits opened #92 "Scott messed up the example in section 3.7.5"
Scott you dunce. You messed it up!

Per https://forum.uavcan.org/t/serialization-example-on-page-32-section-3-7-5/882 the `first` field is a truncated uint12 but the last four bits shown are the last for in the full 16-bit binary representation.

[2020-07-22 03:34] #92 closed

[2020-07-29 17:30] pavel-kirienko commented on #72
Clyde has set up auto-build but not auto-publish. Closing because this issue is about the former only, which is done.

[2020-07-29 17:30] #72 closed

[2020-07-29 17:32] pavel-kirienko opened #94 "Implement the subject-ID range review"
Context: https://forum.uavcan.org/t/alternative-transport-protocols-in-uavcan/324/44?u=pavel.kirienko

This is the second and last pending change left to address before the Beta is out.

[2020-08-26 17:09] thirtytwobits commented on #81
Super-ceded by removal of the physical layer from the specification.

[2020-08-26 17:09] #81 closed

[2020-09-09 20:22] #94 closed

[2020-09-12 20:56] pavel-kirienko opened #98 "Specify Cyphal/UDP"
The draft is available at https://pycyphal.readthedocs.io/en/stable/api/pycyphal.transport.udp.html

The discussion is at https://forum.opencyphal.org/t/alternative-transport-protocols-in-uavcan/324

[2020-09-12 20:57] pavel-kirienko opened #99 "Specify Cyphal/serial"
The draft is available at https://pycyphal.readthedocs.io/en/stable/api/pycyphal.transport.serial.html

The discussion is at:

- https://forum.uavcan.org/t/uavcan-serial-issues-with-dma-friendliness-and-bandwidth-overhead/846
- https://forum.uavcan.org/t/alternative-transport-protocols-in-uavcan/324

[2020-09-12 21:02] pavel-kirienko commented on #78
@thirtytwobits Based on our experience with v0, there is no reason to expect complications so I am inclined to include this into v1-beta. This will require trivial changes to **4.1.4.1 Definitions** and **4.1.4.2 Behaviors**.

[2020-10-11 20:16] #90 closed

[2020-10-16 16:00] #78 closed

[2020-11-03 11:05] TomDeRybel opened #104 "Question regarding uavcan.node.Heartbeat VSSC"
I was initially working from the alpha-version of the specification. In the Beta version, uavcan.node.Heartbeat VSSC has been reduced to uin8, from uint19 initially.

Q1: Is this correct?
Q2: Is this now final? I have was going to base an aspect of my implementation on the wider bit size. Now I can still change this.

Best regards,
Tom

[2020-11-03 11:06] pavel-kirienko commented on #104
A1: yes

A2: yes

[2020-11-03 14:27] TomDeRybel commented on #104
Thanks for the fast reply!

[2020-11-03 14:27] #104 closed

[2020-11-11 09:27] TomDeRybel opened #105 "uavcan.node.Heartbeat comment update"
A small observation: in the beta specification PDF, p94, section 6.4.4 Heartbeat, header description line 7: the default subject ID is still the one as used on the alpha specification.

[2020-11-11 16:10] pavel-kirienko commented on #105
not yet resolved

[2020-11-11 16:13] #105 closed

[2020-11-12 09:43] TomDeRybel commented on #105
Thanks for talking care of this!

[2021-11-12 15:10] pavel-kirienko opened #108 "UAVCAN/CAN example in section 4.2.3 is incorrect"
https://forum.uavcan.org/t/question-about-can-example-from-specification-v1-0-beta/1517

<img width="626" alt="image" src="https://user-images.githubusercontent.com/3298404/141488819-cd6f1306-0cdd-4079-9fd5-e3a5ba828605.png">

[2021-11-13 20:15] #108 closed

[2022-01-05 13:19] pavel-kirienko commented on #99
Fixed. Thanks for the heads up.

[2022-01-15 17:41] Mordeth134 opened #110 "G"

[2022-01-15 17:45] #110 closed

[2022-02-23 10:13] pavel-kirienko commented on #66
Related work: https://forum.uavcan.org/t/type-safety-enhancement-proposal/1416

Methods of mapping such string signature to a numerical data type hash should be explored. One (raw) idea is to represent each entry in the signature as a product of two primes: one is defined by the index of the entry, the other is its type. Proper arrangement provided, two types can be assumed to be compatible if the

[2022-04-08 21:29] pavel-kirienko opened #111 "Update branding"
- [ ] Update the name, logo, etc.
- [ ] Clarify high-level objectives based on https://forum.uavcan.org/t/uavcan-v1-is-now-cyphal/1622

@thirtytwobits FYI

[2022-04-11 23:49] #111 closed

[2022-07-06 23:44] emrainey opened #114 "Explain Cyphal portmanteau in Specfication"
Update the line in the Specification which says:

To explain the portmanteau and mentions the historical transition.

[2022-07-07 08:31] pavel-kirienko commented on #114
Would you volunteer to correct this?

[2022-08-09 18:13] ASMfreaK commented on #98
Please cyphalize the link: https://pycyphal.readthedocs.io/en/stable/api/pycyphal.transport.udp.html#cyphal-udp-transport-overview

[2022-08-09 19:08] ASMfreaK opened #115 "Cyphal/UDP transfer <-> address/port conversion"
For #98 the specification in [pycyphal](https://pycyphal.readthedocs.io/en/stable/api/pycyphal.transport.udp.html) does not specify conversion between transfer to address and port.

It would be great to integrate [this](https://github.com/OpenCyphal/pycyphal/blob/338e206b375c230b96411ca4d5249087273bce36/pycyphal/transport/udp/_ip/_endpoint_mapping.py#L172-L192) documentation with [this part](https

[2022-09-16 16:05] pavel-kirienko opened #118 "Permit incomplete namespaces"
https://github.com/OpenCyphal/pydsdl/issues/82

[2022-10-13 18:58] pavel-kirienko opened #119 "Incorrect DSDL examples in 3.4.5.6, page 26"
The extents should be at least `17 * 8` (one uint64, one 1-byte length prefix, then up to 64 bits):

<img width="677" alt="image" src="https://user-images.githubusercontent.com/3298404/195683340-370a0687-6ab2-4362-a146-77c7d832aad3.png">

[2022-10-13 19:14] #119 closed